-checkpoint.ipynb
*-checkpoint.ipynb
*.xlsx
utils/.ipynb_checkpoints
utils/__pycache__
dev-vm/*
webapp/utils/.ipynb_checkpoints/*
webapp/utils/__pycache__/*
GenerateVectors/*
webapp/apicache-py3/*
interface/index.html
webapp/test.py
webapp/pywikibot.lwp
webapp/throttle.ctrl
webapp/test.py
apicache-py3/*
pywikibot.lwp
webapp/data/wiki2viaf.json
cred.json
.vscode/
webapp/data/dataset.pickle
webapp/word-embs/*
webapp/tests/__pycache__/*
config/config.env
generateDataset/exportedJsons/*
generateDataset/*
webapp/data/previous_dataset.pickle
TopicTerms.tsv
